@using mvc_project.Models.Movie;

@{
    ViewBag.Title = "Create";
}

@model CreateUpdateMovie

<main class="container">

    @using (Html.BeginForm(
        "Create",
        "Movie",
        FormMethod.Post,
        new { @class = "row" }
        ))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        @*@Html.EditorForModel();*@

        <div class="mb-3 col-12">
            @Html.LabelFor(
                model => model.Name,
                new { @class = "form-label" })

            @Html.TextBoxFor(
                model => model.Name,
                new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3 col-12">
            @Html.LabelFor(model =>
                model.Category,
                new { @class = "form-label" })

            @Html.EditorFor(model =>
                model.Category,
                new { htmlAttributes = new { @class = "form-control" } })

            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
        </div>

        <div class="col-12 mb-3">
            <div class="form-check">

                @Html.EditorFor(model =>
                    model.InBillboard,
                    new { htmlAttributes = new { @class = "form-check-input" } })

                @Html.LabelFor(model =>
                    model.InBillboard,
                    new { @class = "form-check-label" })

                @Html.ValidationMessageFor(model => model.InBillboard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-3">
            <input type="submit" class="btn btn-outline-primary" value="Send values" />
        </div>
    }
</main>

